
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AccountAdmin.cshtml";
}

<h1>Đường dẫn tải game </h1>
<a style="margin-top:20px" href="https://drive.google.com/file/d/1LTz7Kn9ydE96oOWpSjeEqyS3VEvp5HGJ/view?usp=sharing">Click tải</a>

